@view-transition {
    navigation: auto;
}

:root {
    --primary: light-dark(rgb(3 103 125), rgb(135 209 234));
    --surface-tint: light-dark(rgb(3 103 125), rgb(135 209 234));
    --on-primary: light-dark(rgb(255 255 255), rgb(0 53 66));
    --primary-container: light-dark(rgb(180 235 255), rgb(0 78 95));
    --on-primary-container: light-dark(rgb(0 78 95), rgb(180 235 255));
    --secondary: light-dark(rgb(106 95 17), rgb(215 200 112));
    --on-secondary: light-dark(rgb(255 255 255), rgb(56 49 0));
    --secondary-container: light-dark(rgb(244 228 137), rgb(81 71 0));
    --on-secondary-container: light-dark(rgb(81 71 0), rgb(244 228 137));
    --tertiary: light-dark(rgb(143 76 54), rgb(255 181 158));
    --on-tertiary: light-dark(rgb(255 255 255), rgb(86 31 13));
    --tertiary-container: light-dark(rgb(255 219 208), rgb(114 53 33));
    --on-tertiary-container: light-dark(rgb(114 53 33), rgb(255 219 208));
    --error: light-dark(rgb(186 26 26), rgb(255 180 171));
    --on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
    --error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
    --on-error-container: light-dark(rgb(147 0 10), rgb(255 218 214));
    --background: light-dark(rgb(245 250 253), rgb(15 20 22));
    --on-background: light-dark(rgb(23 28 31), rgb(222 227 230));
    --surface: light-dark(rgb(245 250 253), rgb(15 20 22));
    --on-surface: light-dark(rgb(23 28 31), rgb(222 227 230));
    --surface-variant: light-dark(rgb(219 228 232), rgb(64 72 75));
    --on-surface-variant: light-dark(rgb(64 72 75), rgb(191 200 204));
    --outline: light-dark(rgb(112 120 124), rgb(137 146 150));
    --outline-variant: light-dark(rgb(191 200 204), rgb(64 72 75));
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: light-dark(rgb(44 49 52), rgb(222 227 230));
    --inverse-on-surface: light-dark(rgb(236 241 244), rgb(44 49 52));
    --inverse-primary: light-dark(rgb(135 209 234), rgb(3 103 125));
    --primary-fixed: rgb(180 235 255);
    --on-primary-fixed: rgb(0 31 40);
    --primary-fixed-dim: rgb(135 209 234);
    --on-primary-fixed-variant: rgb(0 78 95);
    --secondary-fixed: rgb(244 228 137);
    --on-secondary-fixed: rgb(32 28 0);
    --secondary-fixed-dim: rgb(215 200 112);
    --on-secondary-fixed-variant: rgb(81 71 0);
    --tertiary-fixed: rgb(255 219 208);
    --on-tertiary-fixed: rgb(58 11 0);
    --tertiary-fixed-dim: rgb(255 181 158);
    --on-tertiary-fixed-variant: rgb(114 53 33);
    --surface-dim: light-dark(rgb(214 219 221), rgb(15 20 22));
    --surface-bright: light-dark(rgb(245 250 253), rgb(52 58 60));
    --surface-container-lowest: light-dark(rgb(255 255 255), rgb(10 15 17));
    --surface-container-low: light-dark(rgb(239 244 247), rgb(23 28 31));
    --surface-container: light-dark(rgb(234 239 241), rgb(27 32 35));
    --surface-container-high: light-dark(rgb(228 233 236), rgb(37 43 45));
    --surface-container-highest: light-dark(rgb(222 227 230), rgb(48 54 56));

    --padding-xs: 0.4em;
    --padding-sm: 0.6em;
    --padding-md: 0.8em;
    --padding-lg: 1.2em;
    --padding-xl: 1.6em;
    --padding-2xl: 3.2em;

    --margin-sm: 0.2em;
    --margin-md: 0.4em;
    --margin-lg: 0.8em;
    --margin-xl: 1em;
    --margin-2xl: 4em;

    --gap-sm: 0.2em;
    --gap-md: 0.4em;
    --gap-lg: 0.6em;
    --gap-xl: 0.8em;
    --gap-2xl: 1.2em;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;

    --radius-sm: 0.4em;
    --radius-md: 0.6em;
    --radius-lg: 0.8em;
    --radius-xl: 1em;
    --radius-rounded: 100%;

    --ease-in: all 0.15s ease-in;
}

.ease-in {
    transition: var(--ease-in);
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    font-family: "Helvetica", serif;
    font-size: var(--font-size-md);
}
