.btn {
    &:is(a) {
        text-decoration: none;
    }

    &:is(.primary) {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--on-primary);
    }

    &:hover {
        filter: brightness(1.1);
    }
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary);
    &:hover {
        filter: brightness(1.1);
    }
}

.input {
    &:is(.primary) {
        border: 2px solid var(--on-surface);
        background-color: var(--surface);
    }

    &:focus {
        outline: none;
        border-color: var(--primary);
    }
}

.error-box {
    min-height: 1.6em;
}
